.header{
    display: flex;
  }
  
  .form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
    padding:20px;
    background-color: rgba(5, 2, 2, 0.836);
  }
  
  
  .form_title{
    display: flex;
    align-self: center;
    font-size: 30px;
    color: white;
  }
  
  .form_content{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    gap:8px;
  
  }
  
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    box-sizing: border-box;
  }
  
  .button {
    display: flex;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: rgb(131, 1, 1); 
  }